* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red-color{
  color: red;
}

table thead tr th{
  text-transform: uppercase;
}

.none{
  display: none;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}